<form method="post" name="inscription">
    {{form.hidden_tag() }}
    <div align="left">
    <p>Rentrez le nom :</p>
        <span>
            {{form.nom}}
        </span>
    </div>
    <div align="left">
        <p>Veuillez indiquer votre mot de passe :</p>
        <span>
            {{form.password}}
        </span>
    </div>
    <div align="left">
        <p>Veuillez confirmer votre mot de passe :</p>
        <span>
            {{form.confirmation_password}}
        </span>
    </div>
    <div align="center">
        <button type="submit">S'inscrire</button>
    </div>
</form>